
.dropFiles {
	background-color: #c8dadf;
	width: 400px;
	height: 200px;
	border-radius: 10px;
	display: flex;
	margin-top: 60px;
	justify-content: center;
	align-items: center;
	border: dashed #666;
	padding: 20px;
	border-spacing: 20px;
	flex-direction: column;
}
  
.dropFilesActive {
	background-color: #FFF;
}

.dropFilesText {
	color: #333;
	font-size: 1.1rem;
	margin-top: 40px;
}

.dropzoneWrapper {
	padding: 10px;
	background-color: #c8dadf;
	display: flex;
}

.fileIcon {
	color: #333;
	opacity: 0.5;
}

.backButton {
	position: absolute;
	left: 10px;
	top: 5px;
}

.container {
	position: absolute;
	height: 100%;
	width:100%;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.spinnerWrapper {
	display: flex;
    height: 100%;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.spinnerWrapper > p {
	font-size: 1.2rem;
}

.errorText {
	color: red;
}

.resultsWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	cursor: pointer;
} 

.resultsTitle {
	margin-bottom: 20px;
}
