.container {
  position: absolute;
  width:100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container h2 {
  font-size: 2.2rem;
  margin-top: 10px;
}

.container a {
  font-size: 1.4rem;
}

.options {
  font-size: 1rem;
  margin: 20px;
}

.optionsWrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.optionWrapper {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}